* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    display: flex;
    gap: 20px;
    align-items: flex-start; 
    margin-left: 20px;
    flex-wrap: wrap;
}

#data, #locations {
    display: flex;
    flex-direction: column;
    
}

#data, #moneyBox {
    flex-shrink: 0;
}

#moneyBox {
    padding-right: 50px;
}

.upgradeBoxes {
    display: block; /* Each .upgradeBoxes element will stack vertically */
    display: none;
}

#begBtn:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.box {
    margin: 15px;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Corrected box-shadow syntax */
}


/* Style for the locations container grid */
#locations {
    display: none;
}

.locations-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Responsive grid */
    gap: 15px; /* Space between grid items */
    padding: 10px;
}

.location-btn {
    position: relative;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
}

.location-head {
    position: relative;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    cursor: default;
    text-align: center;
    overflow: hidden;
}

.location-text {
    position: absolute;
    top: 50%; /* Center text vertically */
    left: 50%; /* Center text horizontally */
    transform: translate(-50%, -50%); /* Correct centering */
    font-size: 13px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Text shadow for better visibility */
}

.infoTxt, #status{
    color: rgb(114, 114, 114);
    font-size: 12px;
}


/* Shop style here */
#shopContainer {
    margin: auto;
    display: none;
    max-width: 800px;
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.shopHeader {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

#shop-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Spacing between grid items */
    padding: 20px;;
}

.shopItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.shopItemText {
    font-size: 14px;
    margin-bottom: 10px;
}

.divider {
    grid-column: span 3; /* Spans across all 3 columns in the grid */
    border: none; 
    height: 2px; 
    background-color: black;
    margin: 5px 0;
}